body {
    background: #eee;
}

h1 {
    color: red;
    background-color: yellow;
    text-align: center;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
}

.food-photo {
    height: auto;
    width: 400px;
    float: right;
}

a {
    font-size: 18px;
}

div {
    text-align: right;
}
